{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
 {%  block titrePage %}Accueil{% endblock %}
{% block body %}
 <a href="{{path('activity_add') }}"> <button class="btn btn-success">Créer une sortie</button></a>

{% endblock %}
