{% extends 'base.html.twig' %}

{% block body %}
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(campusForm) }}

{% endblock %}