.flash {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #000000;
}
.flash-success {
    background-color: #aacd4e;
}
.flash-error {
    background-color: #dc3545;
}