{% extends 'base.html.twig' %}

<p>Séléctionner les utilisateurs</p>

{% for %}
<div>
    <input type="checkbox" id="{{  }}" name="scales"
           checked>
    <label for="scales">Scales</label>
</div>
{% endfor %}
