{% extends "base.html.twig" %}

{% block title %}Créer un nouveau lieu{% endblock %}

{% block body %}
    <h2>Ajout d'un nouveau lieu</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}