{% extends "base.html.twig" %}

{% block title %}Modifier une ville{% endblock %}

{% block body %}
    <h2>Modification de la ville</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}